.footer
  padding: 5rem 2rem
  display: flex
  flex-direction: column
  //align-items: center
  justify-content: center
  ul
    display: flex
    justify-content: space-around
    list-style: none
    font-size: 2rem
    color: white
    width: 100%
    li
      display: flex
      gap: 2rem
  &__hr
    background: rgba(148, 131, 255, 1)!important
    width: 86%
    align-self: center
    margin-top: 4rem


@media (max-width: 670px)
  .footer
    display: flex
    flex-direction: column
    //align-items: center
    justify-content: center
    ul
      justify-content: center
      flex-direction: column
      display: flex
      list-style: none
      color: white
      gap: 1.6rem
      width: 100%
      font-size: 1.6rem
      li
        display: flex
        gap: 1rem
    &__hr
      display: none
