.category
  padding: 5rem
  justify-content: center
  display: flex
  &__wrapper
    background-color: rgba(203, 213, 225, 1)
    padding: 3rem
    border-radius: 10px
    display: flex
    flex-direction: column
    justify-content: center
    width: fit-content
    gap: 5rem
  &__title
    font-size: 5rem
  &__mainBox
    display: flex
    gap: 5rem
    flex-wrap: wrap
    justify-content: center
  &__box
    box-shadow: 0 0 5px 0
    //padding: 3rem
    width: 40rem
    background-color: rgba(31, 31, 31, 1)
    border-radius: 10px
    padding: 3rem 2rem

    height: fit-content
    display: flex
    flex-direction: column
    gap: 2rem
    &_title
      font-size: 2rem
      color: #CBD5E1
      //padding: 1rem 2rem
      display: flex
      align-items: center
      justify-content: space-between

    &_descr
      font-size: 1.8rem
      color: rgba(153, 153, 153, 1)
    &_price
      display: flex
      justify-content: space-between
      color: #CBD5E1
      align-items: center
      font-size: 2rem
      span
        border-radius: 10px
        font-size: 1.8rem
        background-color: rgba(44, 44, 44, 1)
        //border: 1px solid
        padding: 1rem
    &_footerImg
      display: flex
      justify-content: flex-end
  &__img
    border: 3px solid rgba(41, 41, 41, 1)
    display: flex
    justify-content: center
    padding: 1rem
    border-radius: 5px
    cursor: pointer
    align-items: center
    transition: .5s
    &:hover
      transform:  scale(1.1)
      box-shadow: 0 0 5px 0 rgb(145, 135, 135)



@media (max-width: 1100px)
  .category
    &__wrapper
      padding: 2rem
    &__box
      box-shadow: 0 0 5px 0
      width: 30rem
      background-color: rgb(31, 31, 31)
      border-radius: 10px
      padding: 1rem 1rem
      &_title
        font-size: 1.8rem
      &_descr
        font-size: 1.5rem
      &_price
        color: #CBD5E1
        font-size: 1.8rem
        span
          font-size: 1.5rem
          padding: .7rem
    &__img
      padding: .6rem
@media (max-width: 800px)
  .category
    &__title
      text-align: center
@media (max-width: 770px)
  .category
    &__box
      box-shadow: 0 0 5px 0
      width: 26rem
      background-color: rgb(31, 31, 31)
      border-radius: 10px
      padding: 1rem 1rem
      &_title
        font-size: 1.6rem
      &_descr
        font-size: 1.3rem
      &_price
        color: #CBD5E1
        font-size: 1.6rem
        span
          font-size: 1.2rem
          padding: .6rem
      &_footerImg
        img
          width: 30%
    &__img
      padding: .5rem